<h1><%= @listing.title %></h1>

<%= image_tag @listing.avatar.url(:medium) %>


<h2>Location:
  <%= @listing.location %></h2>
<p class="well">
  <%= @listing.description %></p>
<span class="pull-right">
  <%= link_to "Edit", edit_listing_path(@listing), :class => "btn btn-xs btn-warning" %>
  <%= link_to "Delete", listing_path(@listing),
        :data => {:confirm => "Are you sure?",
          :method => "delete"}, :class => "btn btn-danger btn-xs " %>
</span><br><hr>

<% if @listing.reviews.any? %>

  <h4>Here are the reviews for this listing</h4>
    <ul class="list-unstyled well">
      <% @listing.reviews.each do |review| %>
        <li>
          <%= review.review %>
          <p class="pull-right text-info">
          Reviewed By: <%= review.user %>
        </p>
        </li>
      <% end %>
    </ul>
    <% else %>
      <p>
        There are no reviews, yet.
      </p>
<% end %>

<p>
  <%= link_to "Review this listing", new_listing_review_path(@listing) %>
</p>

<p>
  <%= link_to "Return to listings", listings_path, :class => "btn btn-default btn-sm" %>
</p>
